# Autotools files
autom4te.cache/
**/Makefile.in
**/Makefile
aclocal.m4
compile
config.guess
config.sub
configure
configure~
config.log
config.status
depcomp
install-sh
missing
test-driver
**/.deps

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
